<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main">
      <h2>Friday, October 19</h2>
      <hr />
      <ul>
        <li>
          <input type="checkbox" />
          <span>Buy Food</span>
        </li>
        <li>
          <input type="checkbox" />
          <span>Buy Food</span>
        </li>
        <li>
          <input type="checkbox" />
          <span>Buy Food</span>
        </li>
      </ul>
      <hr />
      <form>
        <input type="text" name="" id="" placeholder="task"/>
        <button type="submit">+</button>
      </form>
    </section>
  </body>
</html>
