<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main">
      <h2>Friday, October 19</h2>
      <hr />
      <ul>
        <li>
          <input type="checkbox" onclick="boxClick(this)"/>
          <span>Buy Food</span>
        </li>
        <li>
          <input type="checkbox" onclick="boxClick(this)"/>
          <span>Buy Food</span>
        </li>
        <li>
          <input type="checkbox" onclick="boxClick(this)"/>
          <span>Buy Food</span>
        </li>

        <% tasks.forEach(function(task){ %>
        <li>
            <input type="checkbox" onclick="boxClick(this)"/>
            <span>
                <%= task.name %>
            </span>
          </li>
          <% }); %>
      </ul>
      <hr />
      <form action="/" method="post">
        <input type="text" name="taskName" id="" placeholder="task"/>
        <button type="submit">+</button>
      </form>
    </section>
    <script>
        function boxClick(elem){
            if(elem.checked){
                elem.nextElementSibling.classList.add("cross-out");
            } else {
                elem.nextElementSibling.classList.remove("cross-out");
            }
           
        }
    </script>
  </body>
</html>
