* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
  background-image: linear-gradient(30deg, lightgreen 45%, skyblue 45%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1.2rem;
}

body > form select {
  font-size: 1.4rem;
  width: 140px;
}

body > form button {
  background: transparent;
  border-radius: 30px;
}

body > form button img {
  cursor: pointer;
}

div.main {
  position: absolute;
  top: 20%;
  left: 40%;
  max-height: 70%;
  background-color: whitesmoke;
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 10px black;
}

div.main h1 {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

div.main h2 {
  text-align: center;
}

div.main hr {
  border: none;
  border-bottom: 5px dotted black;
  margin: 10px 0;
}

div.main ul {
  max-height: 300px;
  overflow: scroll;
}

div.main ul li {
  list-style: none;
  margin: 15px 0;
}

div.main ul input {
  margin-right: 15px;
}

form input[type="text"] {
  font-size: 1.2rem;
  text-align: center;
  border-radius: 20px;
  padding: 10px 0;
}

.main form button {
  background-color: #067bff;
  padding: 5px 15px;
  font-size: x-large;
  border-radius: 50%;
  cursor: pointer;
  transition: 500ms linear all;
}

.main form button:hover {
  background-color: rgb(60, 188, 60);
}

.cross-out {
  text-decoration: line-through;
}

a.delete-task {
  text-decoration: none;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  padding: 0 10px;
}

.main form.update-form {
  display: none;
}

.main form.update-form input,
form.update-form button {
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0;
  padding: 0;
}
